name: CI
on:
  push:
    branches:
      - master
      - next
  pull_request:
    branches:
      - master
      - next
permissions:
  contents: read
  id-token: write
jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 24.11.1
    services:
      slapd:
        image: nickstenning/slapd
        env:
          LDAP_DOMAIN: example.com
          LDAP_ORGANISATION: Example Corp
          LDAP_ROOTPASS: test
        ports:
          - 389:389
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm ci
      - run: node tests/helpers/ldapadd.mjs -h localhost:389 -D
          cn=admin,dc=example,dc=com -w test -f tests/fixtures/ldap/base.ldif
      - name: test and coverage
        run: npm run cover --if-present
      - name: coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: build/coverage/lcov.info
          parallel: true
        continue-on-error: true
  release:
    needs:
      - test-node
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: prepare node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1
      - name: install
        run: npm ci
      - name: release
        run: npx semantic-release
        env:
          CI: "true"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  finish:
    needs:
      - test-node
    runs-on: ubuntu-latest
    steps:
      - name: finish coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/coverage/lcov.info
          parallel-finished: true
